[run]
branch = False
omit =
    tests/*
    server.py
    plotting/interactive_plot.py
    plotting/representation_plot.py
    evaluation/enjoy_latent.py
[report]
exclude_lines =
    pragma: no cover
    if DISPLAY_PLOTS:

[html]
directory = logs/coverage/
