backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
certifi==2017.11.5
cffi==1.11.2
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
functools32==3.2.3.post2
ipython==5.4.1
ipython-genutils==0.2.0
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
pandas==0.21.0
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scandir==1.6
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
termcolor==1.1.0
torch==0.3.0.post4
torchvision==0.2.0
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
wcwidth==0.1.7
